#!/bin/bash

# WordPress setup sample admin_user,admin_password meand ID and Password for loggin to wp admin.
docker compose run --rm cli bash -c "wp core install \
--url='http://example.com' \
--title='WP Test' \
--admin_user='wpmaster' \
--admin_password='wordpresspassword' \
--admin_email='youremail@example.com' \
--allow-root \
&& wp language core install ja --activate --allow-root \
&& wp option update timezone_string 'Asia/Tokyo' --allow-root \
&& wp option update date_format 'Y-m-d' --allow-root \
&& wp option update time_format 'H:i' --allow-root \
&& wp plugin delete hello.php --allow-root \
&& wp plugin delete akismet --allow-root \
&& wp plugin install all-in-one-wp-migration --activate --allow-root"

# plugin install (please comment out if you wnat to install)
# wp plugin install wp-multibyte-patch --activate --allow-root
# wp plugin install backwpup --activate --allow-root
# wp plugin install siteguard --activate --allow-root
# wp plugin install contact-form-7 --activate --allow-root
# wp plugin install wp-mail-smtp --activate --allow-root
# wp plugin install all-in-one-seo-pack --activate --allow-root
# wp plugin install broken-link-checker --activate --allow-root
# wp plugin install addquicktag --activate --allow-root

# delete theme
#wp theme delete twentysixteen --allow-root
#wp theme delete twentyseventeen --allow-root
#wp theme delete twentynineteen --allow-root
# wp theme delete twentytwenty --allow-root

# update permalink
#wp option update permalink_structure /%postname%/ --allow-root